@charset "UTF-8";
#all
{
	width:800px;
	height:1300px;
	background-color:#f9f9f9;
	margin:0 auto;
	color:#7c7c7c;
	font-family: Georgia, "Times New Roman", Georgia, serif;
}

.box
{
	padding-top: 15px;
	width:800px;
	height:200px;
    border-top: 2px solid #cfcfcf;
}

#box3 a {
	text-decoration: none;
}

#box3 a:hover {
	cursor: point;
}

#left
{
	width:200px;
	height:150px;
	float:left;
	text-align:center; 
	padding-top:50px;
	}

#right
{
	margin-top: 30px;
	width:500px;
	height:auto;
	margin-left:50px;
	float:left;
}

#right .name {
	padding: 4px;
	padding-left: 0;
	border-bottom: 2px solid #cfcfcf;
}

.info {
	padding-top: 4px;
}

.fontcolor
{
    color:#3d4247;
}