@charset "UTF-8";
#all
{
	width:1300px;
	height:1240px;
}

#box
{
	width:1300px;
	height:310px;
}

#left
{
	width:200px;
	height:310px;	
}

#right
{
	width:1100px;
	height:310px;
}

.fontcolor
{
    color:#3d4247;
}