@charset "UTF-8";
#all
{
	width:800px;
	height:640px;
	background-color:#f9f9f9;
	margin:0 auto;
	color:#7c7c7c;
	font-family:宋体;
}


#box2
{
	width:800px;
	height:200px;
}

.fontcolor
{
	color:#3d4247;
}
#left
{
	width:200px;
	height:150px;
	float:left;
	text-align:center; 
	padding-top:50px;
	}

#right
{
	width:500px;
	height:200px;
	margin-left:50px;
	float:left;
}


#researchbox
{
	height:200px;
	width:1000px;
}

#artbox
{
	height:200px;
	width:1000px;
}